# Build output
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE files
.classpath
.project
.settings/
.idea/
*.iml
*.iws
*.ipr
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/
dist/

# Env
.env
.env.local
